.game {
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-top: 5%;
}

.game__board {
  border-radius: 16px;
  margin: auto;
  height: 100%;
  position: relative;
}

.game__board_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 30px;
}