.sprite {
    position: absolute;
    text-align: center;
}

.sprite--round {
    border-radius: 16px;
}

.sprite--round-bottom {
    border-radius: 0 0 16px 16px;
}

.sprite--label {
    border-radius: 8px;
    color: white;
    font-size: 24px;
    padding: 10px 0px;
}

.sprite--column {
    display: grid;
    align-items: center;
    color: white;
    font-size: 23px;
}